<!-- 定义导航栏 -->
{% extends 'base.html' %}
{% block details %}

<div class="container">
  <h2>账户信息查询</h2>
  <form action="/bmanage/accfod/" method="post">
      {% csrf_token %}
      <div class="form-group">
      <label for="accID">Account ID:</label>
          <em style="color: red;">*</em>
          <select class="form-control" id="sel1" name="accID">
              {% for accID in accID_list %}
                  <option value="{{ accID.accountid }}">{{ accID.accountid }}</option>
              {% endfor %}
          </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    <table class="table table-striped">
        <thead>
        <th>Account ID</th>
        <th>Bank</th>
        <th>Type</th>
        <th>Money</th>
        <th>Setting Time</th>
        </thead>
        <tbody id="search-content">
        {% for account_info in account_list %}
            <tr>
                <td>{{ account_info.0 }}</td>
                <td>{{ account_info.1 }}</td>
                <td>{{ account_info.2 }}</td>
                <td>{{ account_info.3 }}</td>
                <td>{{ account_info.4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="card-footer text-white text-center">
      <div>
        <a class="btn btn-primary" href="#search-form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-form"><i class="fa fas fa-search"></i> 搜索</a>
      </div>
      <div class="collapse" id="search-form">
      <div class="form-group pt-3 mb-0">
        <input id="search-input" type="text" class="form-control" placeholder="输入以开始搜索">
      </div>
      </div>
    </div>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
</div>

{% endblock %}