<!-- 定义导航栏 -->
{% extends 'base.html' %}
{% block details %}

<div class="container">
  <h2>贷款信息查询</h2>
  <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
      <label for="loanID">Loan ID:</label>
          <em style="color: red;">*</em>
          <select class="form-control" id="sel1" name="loanID">
              {% for loanID in loanID_list %}
                  <option value="{{ loanID.loanid }}">{{ loanID.loanid }}</option>
              {% endfor %}
          </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    <form>
      {% csrf_token %}
      <div class="form-group">
      <label for="loanID">Loan ID:</label>
          <em style="color: red;">*</em>
      <input type="text" class="form-control" id="loanID" name="loanID" required="required" value="{{ loan_obj.loanid }}" readonly>
    </div>
    <div class="form-group">
      <label for="cusID">Customer ID:</label>
          <em style="color: red;">*</em>
          {% for cus_obj in cus_obj_list %}
            <input type="text" class="form-control" id="cusID" name="cusID" required="required" value="{{ cus_obj.cusid.cusid }}" readonly>
          {% endfor %}
    </div>
      <div class="form-group">
      <label for="bank">Bank Name:</label>
          <input type="text" class="form-control" id="bank" name="bank" required="required" value="{{ loan_obj.bank.bankname }}" readonly>
    </div>
      <div class="form-group">
      <label for="money">Money:</label>
          <em style="color: red;">*</em>
      <input type="number" step="0.01" class="form-control" id="Money" name="money" required="required" value="{{ loan_obj.money }}" readonly>
    </div>
     <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" name="state" required="required" value="{{ state }}" readonly>
    </div>
  </form>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
</div>

{% endblock %}